*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}
.hero{
width: 100%;
min-height: 100vh;
/* background-image: url(./img/712.jpg); */
background-position: center ;
block-size: cover;
padding: 10px 10%;
overflow: hidden;
position: relative;
background-image: linear-gradient(45deg,#070303ef,#682424);

}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #c7bbbb;
    font-weight: 400;
    font-size: 20px;

}
.lm{

    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#1a0707ef,#f30404);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.mp{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg,#350e0eef,#f30404);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;

}
.content h1{
    font-size: 70px;
    color: #fdfafa;
}
.content p{
    margin: 10px 0 30px;
    color: #e7c4c4;
    font-style: oblique;
}
.content .mp{
    padding: 15px 80px;
    font-size: 16px;
}
.mp:hover{
    border-top-right-radius: 20px;
}

.lm:hover{
    border-top-right-radius: 20px;
}
.feature-img{
    width:340px;
    position: absolute;
    bottom: 0;
    right: 10%;
    margin-bottom: 100px;
}
.saddam{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
